.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: center;
  background-color: red;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.listItem {
  margin: 1rem;
}

.link {
  background-color: aqua;
  padding: 0.5rem 3rem;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
